{% extends "base.html" %}

{% block title %}Add Postal Code{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Add New Postal Code</h1>
    <form method="POST">
        <div class="form-group">
            <label for="postal_code">Postal Code</label>
            <input type="text" class="form-control" id="postal_code" name="postal_code" required>
        </div>
        <div class="form-group">
            <label for="area_name">Area Name</label>
            <input type="text" class="form-control" id="area_name" name="area_name" required>
        </div>
        <div class="form-group">
            <label for="prefecture">Prefecture</label>
            <input type="text" class="form-control" id="prefecture" name="prefecture" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Postal Code</button>
    </form>
</div>
{% endblock %}
